<div class="container d-print-none">
    <div class="row">
        <div class="col m-5">
             <footer class="white-section bg-light fixed-bottom text-center" id="footer">
                 <div class="container-fluid">
                     <i class="social-icon fab fa-facebook-f"></i>
                     <i class="social-icon fab fa-twitter"></i>
                     <i class="social-icon fab fa-instagram"></i>
                     <i class="social-icon fas fa-envelope"></i>
                     <p>©{{copyright_year}} mls. All Rights Reserved</p>
                 </div>
             </footer>
        </div>
    </div>

</div>
