{% extends 'layouts/layout.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<section class="white-section" id="title">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-auto">
                <h1>Mamac Logistics Services</h1>
                <p class="text-muted">We always<em><strong> DELIVER</strong></em></p>
            <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col-md-auto mb-5">
                <div class="card" style="width: 21rem;">
                    <div class="card-body">
                        <h5 class="card-title">Register Admin</h5>
                        <p class="text-muted">You're creating a super admin account.</p>
                        <hr>
                        {{ render_form(
                        form=form,
                        button_map={
                        'confirm': 'btn btn-primary me-3',
                        'cancel': 'btn btn-outline-primary',
                        },

                        ) }}
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}